body {
  background-color: #e5e8e7; 
  font-family: Merriweather;
  font-size: large;
}

.title {
  max-width: 640px;
  max-height: 150px;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  background-color: #00c3ff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.title h1{
  margin: 1;
  font-size: 40px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  background-color: #70d7f7;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.birthday {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.birthday img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.birthday h4 {
  margin: 0;
  color: #282c3c;
}

button {
  background-color: rgb(214, 64, 255);
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #b804fa;
}
